[2016-06-12 11:07] bobafetthotmail opened #1 "considered a name change?"
something with Vulkan in the name, like say ShaeferVulkan instead.

Also, you're in the news here http://www.phoronix.com/scan.php?page=news_item&px=SchaeferGL-D3D9-Over-Vulkan

[2016-06-12 18:24] disks86 commented on #1
Thank you for the suggestion. It didn't originally use Vulkan which is why it wasn't in the name. I'll likely take suggestions from the community for alternative names.

[2016-06-13 13:38] ratchetfreak opened #2 "You are not allowed to transition swapchain images without acquiring them"
https://github.com/disks86/SchaeferGL/blob/058b0338e8bd01f38a86b3ac06e83edbef46eaa7/SchaeferGL-Library/CDevice9.cpp#L1024

Here you transition the swapchain images after creating the swapchain. [This is not allowed without first having acquired them.](https://www.khronos.org/registry/vulkan/specs/1.0-wsi_extensions/xhtml/vkspec.html#_wsi_swapchain)

[Instead you a `oldImageLayout` of UNDEFINED aft

[2016-06-13 14:06] elfring opened #3 "Remove an unnecessary null pointer check"
[An extra null pointer check is not needed](http://dietmar-kuehl.de/mirror/c++-faq/freestore-mgmt.html#faq-16.8 "Do I need to check for NULL before delete p?") in [the destructor for the class "C9"](https://github.com/disks86/SchaeferGL/blob/38feaea4b9e740259248d6c6c21dfdec77dec0d4/SchaeferGL-Library/C9.cpp#L177 "Update candidate: C9 destructor").

[2016-06-13 14:18] elfring opened #4 "Use of angle brackets around file names for include statements"
Would you like to [replace any double quotes](https://github.com/disks86/SchaeferGL/blob/38feaea4b9e740259248d6c6c21dfdec77dec0d4/SchaeferGL-Library/C9.cpp#L23 "Check header file inclusion style") by [angle brackets around file names for include statements](http://stackoverflow.com/questions/21593/what-is-the-difference-between-include-filename-and-include-filename "What is the difference between

[2016-06-13 15:08] axeldavy opened #5 "Probably safer to do nothing in begin/endScene"
Hi from the gallium Nine team,

Here
https://github.com/disks86/SchaeferGL/blob/master/SchaeferGL-Library/CDevice9.cpp#L1375

It's probably a bad idea to do any work in beginScene and endScene. It has been noted in some reports
by windows drivers that apps don't respect the spec with them (ie they can do rendering without calling them, or call more beginScene than endScene, or whatever).

Good luc

[2016-06-13 16:29] disks86 commented on #5
Thank you for the heads up. It sounds like I'll need to do a render pass for each draw call then. I'll look at this tonight.

[2016-06-13 16:32] disks86 commented on #4
Can you clarify what is the issue being reported? The sited line contains "C9.h" which is part of the project so angle brackets wouldn't be appropriate.

[2016-06-13 16:33] disks86 commented on #3
Force of habit, I'll take a look this evening. Thank you for the feedback.

[2016-06-13 17:08] elfring commented on #4
I suggest to reconsider the consequences of [the following wording](http://c0x.coding-guidelines.com/6.10.2.html "Source file inclusion") from [the section "16.2 Source file inclusion"](http://open-std.org/jtc1/sc22/wg21/docs/papers/2013/n3797.pdf "C++ working draft") in the standard specification for the programming language "C++".
[code]

* How do you think about to avoid "a duplicated file sear

[2016-06-13 23:08] disks86 commented on #5
I committed an update that moved the logic out of the begin/end scene functions. I'm waiting until present to end the scene now and I begin it when begin is called or any of the draw methods. I'm still working on them though so I can't fully test this other than the fact it didn't cause the original sample to regress on my AMD test machine.

[2016-06-13 23:08] #5 closed

[2016-06-13 23:19] disks86 commented on #2
Good catch, I just committed a fix.

[2016-06-13 23:19] #2 closed

[2016-06-13 23:25] disks86 commented on #3
I've committed a fix for this.

[2016-06-13 23:25] #3 closed

[2016-06-14 04:44] elfring commented on #3
Thanks for [your small source code improvement](https://github.com/disks86/SchaeferGL/commit/b532fd260bd0786a9e50622a060e3415ccd4157a "Deletion of a few unnecessary checks").

[2016-06-14 05:13] elfring commented on #3
Will [Vulkan destroy functions](https://www.khronos.org/registry/vulkan/specs/1.0/apispec.html#vkDestroyInstance "Clarification for vkDestroyInstance()?") tolerate also [the passing of null handles](https://github.com/disks86/SchaeferGL/blob/b532fd260bd0786a9e50622a060e3415ccd4157a/SchaeferGL-Library/C9.cpp#L177 "Update candidates remaining?")?

[2016-06-14 10:25] disks86 commented on #3
I'm not sure. It's unclear based on what I've read in the spec so far. If it's not in the spec drivers may act differently. If you find something that indicates they do in the spec let me know. They may add that in a future revision if it's not in the current one.

[2016-06-14 15:50] AsuMagic commented on #1
Just switching SchaeferGL to SchaeferVK would make the name minimally meaningful.
VK Nine could work a similar fashion as Gallium Nine, but I'm not sure if it would be really fit well.

[2016-06-14 17:00] elfring commented on #3
Would you like to achieve further clarification for the handling of null handles by the evolving Vulkan programming interface?

[2016-06-15 16:37] disks86 commented on #4
The additional file search would only happen if the search was not found or failed.

[2016-06-15 16:50] PeyTy commented on #1
+1 for SchaeferVK, you can just set this name right now, Github will keep old links and redirect. Git will chacnhe origin to SchaeferVK on next `git pull` automatically.

[2016-06-15 17:18] elfring commented on #4
There are different opinions about the handling of the involved implementation-defined behaviour.
* Will header files be also searched outside the specified include directories if double quotes are used for the discussed preprocessor statement?
* Is there a speed difference measurable if a file is not found there and the search will be retried with "the angle brackets inclusion method"?

[2016-06-25 13:51] stevenhoving opened #6 "D3DFILL_WIREFRAME case not handled correctly in ConvertFillMode, Utilities.h line 89-90"
I just cloned your project and noticed something that what could be a typo.
https://github.com/disks86/SchaeferGL/blob/master/SchaeferGL-Library/Utilities.h#L89

[code]

The obvious fix would be:
[code]

[2016-06-25 14:12] disks86 commented on #6
Good catch, you are correct it was a typo. I've committed a fix for this. Thank you for your feedback.

[2016-06-25 14:12] #6 closed

[2016-06-26 17:07] stevenhoving opened #8 "Shaders.rc TRI_FRAG and TRI_VERT points to 'C:\VulkanSDK\1.0.13.0' but should point to 'C:\VulkanSDK\1.0.17.0'"
I wonder, shouldn't you pull these files into your repo?

[2016-06-26 17:46] disks86 commented on #8
Ultimately I think I'll end up modifying them. Once I get the vertex buffer working I'll need to do some refactoring. At this point I'm still working on getting the vertices to render to the screen. I'm working on the code to fill/write/update the descriptor set right now. I think that is the last piece I'm missing. After that I'll need to look into handling different buffer layouts. There are fla

[2016-06-28 01:03] disks86 commented on #8
My latest commit contains a fix for this item. I've re-pointed to the new SDK sample.

[2016-06-28 01:03] #8 closed

[2016-08-03 00:45] disks86 commented on #4
This is interesting information but does not appear to be a problem so I will close this issue.

[2016-08-03 00:45] #4 closed

[2016-08-03 00:45] disks86 commented on #1
Any other suggestions?

[2016-08-03 06:39] elfring commented on #4
How much do you care where the include files are safely stored for a software library?

[2016-08-04 00:46] disks86 commented on #4
Double quotes are used for project headers and angle braces are used for 3rd party headers. This is a popular convention and some of the supporting reasons are in the stack overflow page you cited. For example if there is a name conflict between a project header and a 3rd party one if you are using double quotes it will search the current directory first and thus pull the correct file.

[2016-08-04 05:07] elfring commented on #4
* Do developers agree on using of "the current directory"?
* I would generally prefer to exclude the potential for the inclusion of header files from unexpected directories. Can such a security detail become a bit more important occasionally?

[2016-08-15 11:30] ape123 commented on #1
DirectVK? DirectVulkan?

[2016-08-16 01:06] disks86 commented on #1
hmm, maybe. Anyone have a clever play on words I can use?

[2016-08-17 04:53] Maxqia opened #12 "Rethinking the way we go about things"
..., I don't think there'll be a need for this project in 2020, because by then, most new games will use DX12/Vulkan and Wine will have a full implementation of DX11 and maybe DX12. Therefore, I propose a new way of doing things.
    The Wine developers main concerns with allowing the Gallium Nine code into Wine is that it wouldn't replace any of the existing code, because they would still need to

[2016-08-17 11:10] AsuMagic commented on #12
I'm not sure if I understood it well, but I think I kind of miss the point. What do you really mean? Would that allow using Gallium Nine for example on proprietary nvidia drivers or on OSX?

[2016-08-18 01:46] Maxqia commented on #12
Yeah (When Apple finally gives up Metal and Supports Vulkan :P), I'm mainly proposing an easier way to implement d3d on Vulkan, to summarize.

[2016-08-18 16:35] AsuMagic commented on #12
But Apple said they won't support Vulkan. And I don't think that will be a reason for Wine devs to implement Gallium Nine directly. After all that's not a truly multiplatform solution. That being said, the Gallium Nine patch for Wine is doing very well and can be installed on most distros with a user repository (it was extremely easy to install on my Arch laptop - a simple yaourt setup and a box t

[2016-08-22 16:06] DistantThunder commented on #1
I might be better to keep it simple and explicit, thus picking amongst the current propositions. I'm in favour of something like "NineVK" unless you plan on adding DX11 compatibility at some point in the future.

[2016-08-22 22:00] Two-Tone commented on #1
IMO, VK9/VKNine rolls off the tongue better than NineVK.

[2016-08-22 22:57] disks86 commented on #1
VK9 sounds reasonable. Any objections?

[2016-08-22 22:59] DistantThunder commented on #1
Sounds good from here.

Le 23 août 2016 12:57 AM, "Christopher Schaefer" <notifications@github.com>
a écrit :

VK9 sounds reasonable. Any objections?

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub
<https://github.com/disks86/SchaeferGL/issues/1#issuecomment-241576442>,
or mute
the thread
<https://github.com/notifications/unsubscribe-auth/ADvfYlGT80

[2016-08-22 23:24] disks86 commented on #12
I agree 2020 is pretty far out but that is a current estimate based on how long it's taking me to get through these by myself. If more folks get involved it could be sooner. That said people are still making games with D3d9 Tree of Savior is an example of this. The thing is that d3d9 is well documented and there are piles of code out there for people to work with. Time could prove me wrong but I b

[2016-08-23 01:11] disks86 commented on #1
The name has been updated.

[2016-08-23 01:11] #1 closed

[2016-08-23 04:39] Maxqia commented on #12
With my approach I'm saying write a Vulkan->Gallium3D layer and test it using the unit tests for Gallium3D itself, no having to deal with Wine (and it's bugs) at all. Also Linux driver developers no longer have to support Vulkan and Gallium3D as they currently have to do now.

[2016-08-25 01:13] disks86 commented on #12
You'll still have to use Wine to test any real d3d applications. It's an interesting idea but I don't think it's a good fit for what I'm trying to do.

[2016-08-25 10:35] Maxqia commented on #12
No, you can compile Mesa + Gallium Nine (probably with a few hacks) for Windows, and it's already happening with wined3d [here](http://adolfintel.com/?p=wined3d/index.frag). From what I can tell, DX9 should already work, although slow, with the llvm-pipe (cpu) driver.

[2016-10-05 01:29] disks86 commented on #12
I was not aware of that project. One of the benefits of this project however is that it will provide a mapping between DirectX9 (which has high adoption) to Vulkan. I would be interested to see someone attempt what you're suggesting but it's not in line with my goals.

[2016-10-05 01:29] #12 closed

[2016-11-28 00:16] CookiePLMonster opened #14 "Environment variable for Vulkan SDK and Boost"
Maybe instead of hardcoding paths in the project settings, $(VULKAN_SDK) and $(BOOST_ROOT) should be used? That'd make the source portable, leaving out only glm - which probably can be checked in the repository.

[2016-11-28 01:58] disks86 commented on #14
BOOST_ROOT doesn't appear to exist on my machine. I like the idea of this though apart from included GLM in the repository. Any other suggestions for handling GLM?

[2016-11-28 09:27] CookiePLMonster commented on #14
BOOST_ROOT indeed isn't being automatically added by the build process but it's somewhat a common convention when one uses Boost. Maybe just ask the user to ensure those environment variables (maybe also ask for GLM_ROOT - I haven't found any docs about glm's preferred env vars) before they can build it?

[2016-11-29 00:24] disks86 commented on #14
I switched the include and lib paths for Vulkan to the environment variable. For boost I feel like we need some time of fallback if it's not defined same with glm. Maybe a pre-build script.

[2016-11-29 00:33] CookiePLMonster commented on #14
Could do - easiest to check if those paths exist and abort the build if they don't, asking the user to add them.

Oh and, you also have DXSDK_DIR for DirectX sdk!

[2016-11-29 00:43] disks86 commented on #14
Added DirectX environment variable.

[2016-12-17 06:10] disks86 opened #16 "Slow Memory Leak"
There is a slow memory leak in VK9. Visual Leak Detector does not detect it (presumably because the resources are cleaned up on close). Based on the Visual Studio tools the leak appears to be in BeginDraw however I haven't been able to spot it so far.

[2016-12-17 18:59] disks86 opened #17 "Reuse vulkan objects"
Currently command buffers, pipelines, and descriptors are not reused. They should be reused as much as possible to improve performance.

[2017-01-29 09:40] axeldavy commented on #12
I'd like to add a bit more information to the suggestions of this thread.
Mesa is the open source linux GL driver for all graphic cards (though support is not very good for nvidia. It is good for the others).

Internally most drivers use an internal abstraction: gallium.
GL maps to gallium calls (we call that the GL "state tracker"), and drivers implement the gallium API.
The gallium API was initi

[2017-02-05 20:01] disks86 commented on #12
I am currently focusing on VK9 however I think the idea of Gallium over Vulkan is worth exploring. I setup a VKG channel on the new discord server which those of you interested in this alternative approach can use to coordinate. https://discord.gg/EMc4Kak

[2017-03-14 00:47] #17 closed

[2017-03-14 00:48] #16 closed

[2017-03-14 00:49] disks86 commented on #16
This was fixed with milestone 11.

[2017-03-14 00:49] disks86 commented on #17
This was added with milestone 11.

[2017-03-14 00:50] disks86 commented on #14
Quick update on this I replaced GLM with another library for math.

[2017-08-29 13:59] Swoorup opened #19 "D3DX support"
Will this also support D3DX library atop vulkan? Or is it that D3DX just relies upon D3D9 and it will work implicitly?

[2017-09-14 01:12] disks86 commented on #19
D3DX should just work in fact some of the examples that are working already use D3DX such as the font ones. They use helper functions from D3DX to generate the sprites for the font.

[2017-09-24 13:43] #19 closed

[2017-11-11 14:59] gcavalcante8808 opened #20 "How can I use the DLL with wine?"
Hello Folks,

How may I use the dll with wine?

I tried to copy it into the system32 folder of wine prefix and then changed the d3d9.dll into the native mode.

When I try to run BlackOps, the following log is generated:

[]: C9::GetAdapterMonitor is not implemented!
[]: C9::CheckDeviceFormat is not implemented!22 1094800211
[]: C9::CheckDepthStencilMatch is not implemented!
[]: C9::CheckDeviceForm

[2017-11-13 07:10] Eignar17 commented on #20
your problem is VK9 project not full missing code new implementations to run a game

[2017-11-17 01:07] disks86 commented on #20
Shader support is still in progress all of those op code messages are related to shaders.

[2017-11-28 11:51] xlpiao opened #21 "What version of boost library is used in this project?"
@disks86
Could you tell me what version of boost library is used in this project? Where did you download it? I cannot build the project without correct version of boost library.

[2017-11-29 00:34] disks86 commented on #21
It's boost 1.63.0 It's been a while since I downloaded it but I think it was here.

https://sourceforge.net/projects/boost/files/boost-binaries/1.63.0/

[2017-12-06 04:50] xlpiao commented on #21
@disks86
Hi, the boost library is successfully installed.

However, there needs Eigan library and spirv.hpp.

I think, you should provide detail guideline about building this project. There's no such documentation.

[2017-12-06 11:34] xlpiao commented on #21
What I did is, installing following library, but I still cannot build it successfully.
(1) VulkanSDK 1.0.46.
(2) boost library
(3) Eigan library
[code]
Could you please add more detail guideline to build this project?

[2017-12-13 01:53] disks86 commented on #21
It seems like it's missing all of the vulkan symbols. What version of Visual Studio are you running?

[2017-12-25 12:39] Weej1 opened #22 "[Question] Milestone 23: Should "post processing" effects support be added now? Or after all set milestones are complete?"
Hi!
I've been quietly lurking and keep tabs on your progress for quite sometime now! Love what you're doing and agree with your reasons for doing them too! I saw that you'd recently reached your 23rd milestone that deals with implementing HLSL support.

That got me thinking about "post processing injectors". You may have heard of the popular one called ENB which is really a heavily modified `direc

[2017-12-25 13:53] Nucleoprotein commented on #22
Milestone 23 is very very -very- basic shared support, it can't run games yet and I think it will not run them very soon, maybe in 2019?

[2018-01-18 02:06] disks86 commented on #22
As Nucleoprotein pointed out VK9 can't yet run games. My understanding is that those "injectors" work by implementing the D3D.dll file. If that is the case it would be a one or the other scenario. However the license on VK9 is very liberal so someone could combine them if the license of the other project allows it. I don't intend to directly support those types of efforts primarily because I still

[2018-01-18 02:06] #22 closed

[2018-01-18 02:07] #21 closed

[2018-01-18 02:08] #20 closed

[2018-01-21 13:14] Nerus87 opened #23 "[Improvement] API/FPS Counter on game screen"
Hi, could you please add Information which API game use and how many fps GPU generating?

[2018-01-26 13:37] sr-tream opened #24 "failed to load libvulkan.so"
Test on:
OS: Debian 10
GPU: AMD rx560
Driver: mesa 17.3.3

`err:winediag:init_vulkan failed to load libvulkan.so, no support for vulkan
err:module:attach_process_dlls "vulkan.dll" failed to initialize, aborting`

P.S. DOOM 2016 is work over vulkan

[2018-01-26 13:41] sr-tream commented on #24
Sory, I'm not install libvulkan1:i386

[2018-01-26 13:41] #24 closed

[2018-01-28 20:40] disks86 commented on #23
I don't have that information but collecting that is a good idea. I think we need something like Wine AppDB but for VK9 & DXVK. Community participation would be required to collect all of that but we'll need a central place to share it.

[2018-01-30 08:38] uq1 opened #25 "Missing D3DPERF_SetOptions"
I saw this project and got very interested. Unfortunately I have had no luck getting it to work with anything. Everything that I have tried to use it with has complained about the missing entry point D3DPERF_SetOptions and immediately closes.

[2018-01-31 17:51] fagoatse commented on #23
I think he's asking about a HUD feature that DXVK has. It probably wouldn't be too difficult to port it.

[2018-02-07 02:10] disks86 commented on #25
I took a look and it's because I was only defining the Direct3DCreate9 & Direct3DCreate9Ex entry points. I added stubs for the D3DPERF ones however I'm in the middle of a big refactor right now so I can't test this until that is finished. I'll leave this open until I'm able to test the change.

[2018-03-11 04:14] disks86 commented on #25
The refactor is finished, however I'm still fixing regressions.

[2018-03-11 15:00] uq1 commented on #25
Awesome. I look forward to trying it again.

[2018-03-15 20:11] rakhenmanoa commented on #25
Hi, do you think that vk9 will work on intel anv driver since dxvk doesn't ?

[2018-03-15 20:12] Yardanico commented on #25
@rakhenmanoa maybe it will make more sense to make an issue in dxvk repo? And dxvk aims for dx11, not for dx9

[2018-03-15 20:18] rakhenmanoa commented on #25
@Yardanico Intel gpus are not officially supported due to some missing features with the anv vulkan driver. I just want to know if vk9 need these missing features also.

[2018-03-15 20:22] Yardanico commented on #25
@rakhenmanoa VK9 is for now at (AFAIK) much earlier stage of development

[2018-03-15 20:24] rakhenmanoa commented on #25
@Yardanico but will it work on intel gpus ? That is the question.

[2018-03-15 20:25] Yardanico commented on #25
@rakhenmanoa as I said, it's probably unknown for now. You'd better ask Intel devs to add missing functionality

[2018-03-15 20:29] rakhenmanoa commented on #25
@Yardanico Yes, Maybe they will add the missing functionalities in the future. It's just that even at it first stage the developper of dxvk said that intel gpus are not supported since the missing features are the most important ones needed to implement dx11 on vulkan. That's why i wanted to know for vk9.  But maybe as you said we need to wait a little more to find out.

[2018-03-21 01:09] disks86 commented on #25
I have only tested on AMD and Nvidia. I have not tested VK9 with intel graphics drivers. This is better suited for the community discord but I'm curious what your use case for Intel integrated graphics with VK9 would be.

[2018-03-27 08:47] Valmar33 opened #27 "Making it easier to compile for Wine?"
Is there a way to make VK9 easier to build for those of us who only use Linux and Wine without any Windows?

[2018-03-27 12:32] gnanini opened #28 "No installation guide!"
Please leave some kind of installation guide as dxvk does in your Readme.md!

I'm using the gallium nine patch and a want to test this out!

[2018-03-27 14:52] mmmaisel opened #29 "Use a cross platform build system"
Currently, the VK9 library can be only build with Visual Studio even though the main use case is Linux with Wine.

To support native Linux builds as well as Visual Studio a cross platform build system like CMake or Meson (used by DXVK as well) should be used. With such a tool it would also be possible to automatically compile all GLSL shaders to SPIR-V.

If there is interest in porting the build s

[2018-03-31 16:56] disks86 commented on #28
I haven't run this in Wine yet but I'll be sure to create some documentation when I test it like that.

[2018-03-31 17:00] disks86 commented on #29
I'd say it's a use case but there are plenty of other uses like quick ports or working around broken d3d9 support in windows drivers. I think VS has experimental support for CMake but it still wouldn't be cross platform because it would be using MSVC not gcc.

[2018-03-31 17:03] disks86 commented on #27
Not easily pretty much anything else would be a huge time sink. I release binaries when I hit milestones though so people don't necessarily need to build from source to try it out. I also do early builds for patreons.

[2018-04-01 05:40] Kerrung commented on #29
https://github.com/doitsujin/dxvk/blob/master/README.md
Maybe you should use a similar build system such as DXVK uses?

[2018-04-01 11:16] Valmar33 commented on #29
DXVK's build system allows it to be built and run on Windows natively, as well as on Linux with mingw GCC.

[2018-04-01 12:40] mmmaisel commented on #29
Solving this issue would also fix #14.

[2018-04-01 20:52] disks86 commented on #25
@uq1 The latest release contains the entry points. Can you confirm that this is resolved for you?

[2018-04-02 15:17] mmmaisel commented on #29
I uploaded a first version which uses Meson [here](https://github.com/mmmaisel/VK9). It compiles fine with MinGW on Linux but I'm unable to get Meson itself working on my old 32bit Windows 7 installation.

Can anybody with a working Windows Meson installation please test if generating Visual Studio projects works as well?

[2018-04-03 05:06] Valmar33 commented on #29
@mmmaisel What errors is Meson giving you on Windows, out of curiousity?

I'll try out Meson on Windows in a VM soon.

[2018-04-03 07:19] Valmar33 commented on #29
@mmmaisel Also, how are you building it? Plain Meson doesn't work, which be frustrating for beginners. Try offering a build script like DXVK does, to make it easier for others as well.

[2018-04-03 15:11] mmmaisel commented on #29
I added build scripts and build instructions to my meson branch and improved the meson project files.
The built dll should now work with Wine.

@Valmar33 I get the following error on my Windows box. This happens for all meson projects so it is related to my installation.

[code]

[2018-04-03 15:12] mmmaisel commented on #28
I added build instructions for Linux with meson to my experimental [meson branch](https://github.com/mmmaisel/VK9).

[2018-04-03 15:27] Valmar33 commented on #29
@mmmaisel Thanks, will test.

Try the Ninja backend on Windows. It is apparently more feature-complete and stable, according to the Meson documentation:

http://mesonbuild.com/Using-with-Visual-Studio.html

"If you wish to use the Ninja backend instead of vs2015, pass --backend ninja. At the time of writing the Ninja backend is more mature than the VS backend so you might want to use it for seriou

[2018-04-03 15:31] Valmar33 commented on #29
Also, it complains:

"Cross dependency 'vulkan-1' not found"

Should test the workflow on Windows, also, to streamline it as much as possible for @disks86

[2018-04-03 15:34] Valmar33 commented on #29
Also, it complains that it cannot find spirv or eigen, despite me having mingw-w64-eigen installed and spirv installed natively.

[2018-04-03 15:39] Valmar33 commented on #29
Ah, just saw your README.md.

[2018-04-03 17:34] Valmar33 commented on #29
@mmmaisel Ninja does work with Visual Studio. They mention it here:

https://ninja-build.org/manual.html#_deps

They can build using the Visual Studio compiler on Windows, so it doesn't depend on GCC or Clang.

[2018-04-03 18:57] sykhro commented on #29
The easiest way to use meson on Windows is via msys2 (uses pkg-config for dependencies, basically identical to linux). If you don't want to go down that route, just make sure all your deps are in your %PATH%.

If you want to use msvc, you can pass --backend vs2015 (or 2017) to the meson builddir command. This will generate a visual studio solution that can be opened directly for building. It does

[2018-04-04 15:29] mmmaisel opened #31 "VK9 does not compile in 64bit mode."
Compiling VK9 in 64bit mode fails with various errors.
The following errors occur with Visual Studio 2017 and GCC 7.3.

Utilities.h:1099 bit_cast fails between DWORD, float and void* because sizeof(void*) now 8 instead of 4.
GCC:  Static assertion fails in Utilities.h:1099
MSVC: Warnings about possible data loss, static_assert seems to be ignored
Possible solution: Use fixed 32bit type instead of

[2018-04-04 15:34] mmmaisel commented on #29
@Valmar33 Thanks for the infop that ninja build is possible on Windows. However this does not fix my meson error which seems to be related to calling the MSVC compiler "cl".

[2018-04-04 23:13] disks86 commented on #31
Thank you for pointing this out. I haven't tried to build 64bit yet.

[2018-04-05 16:45] disks86 commented on #31
I implemented a few if these. The static assert on GCC seems like GCC being picky though as MSVC just treats it as a warning. I don't use GCC for this project but you might be able to work around that with a compiler flag.

[2018-04-05 17:10] disks86 commented on #14
Closing this because remaining libraries don't have default environment variables and there is a separate effort to implement a build system.

[2018-04-05 17:10] #14 closed

[2018-04-05 17:36] mmmaisel commented on #31
According to the C++ standard, static_assert should generate a compiler error so it is not possible to ignore this with a compiler flag. If the code works fine even if the assertion is failed, the static_assert should be changed to a "static_warning" (see [here](https://stackoverflow.com/questions/8936063/does-there-exist-a-static-warning)) or simply removed for best portability.

[2018-04-06 00:46] disks86 commented on #29
This is resolved now that mmmaisel's pull request has been merged.

[2018-04-06 00:46] #29 closed

[2018-04-06 00:47] disks86 commented on #27
This is resolved now that mmmaisel's pull request has been merged.

[2018-04-06 00:47] #27 closed

[2018-04-06 00:51] disks86 commented on #31
I get that but aren't we talking about a compiler generated static_assert?

[2018-04-06 01:16] disks86 commented on #28
This is resolved now that mmmaisel's pull request has been merged.

[2018-04-06 01:16] #28 closed

[2018-04-06 21:00] #31 closed

[2018-04-24 21:22] Monsterovich opened #35 "Any fresh builds?"
The latest build is over 1 month old.

[2018-04-29 22:41] Zeioth opened #36 "Question about github releases: Are they i386 or amd64?"
It would be really, really usefull to have releases for both 32 and 64 bits in the same zip, like [DXVK does](https://github.com/doitsujin/dxvk/releases).

[2018-05-03 00:53] disks86 commented on #36
The current builds are all 32bit. A few patches were submitted recently to allow vk9 to build on 32bit but I don't have that setup in Visual Studio yet. Out of curiosity what 64bit applications/games are trying to use?

[2018-05-03 00:56] disks86 commented on #35
I plan to put out another build when I reach the next milestone. I'm targeting this month for the next milestone but I've been working more hours at my day job so it might be a little tight.

[2018-05-03 08:06] Kerrung commented on #36
StarCraft 2, for example.

[2018-05-03 08:27] Kerrung commented on #35
@disks86
It would be desirable in a new release that there would be a 64bit version too.

[2018-05-03 08:28] Kerrung commented on #36
@disks86

StarCraft 2, for example.

[2018-05-03 10:49] PadreAdamo commented on #36
Guild Wars 2 is also a popular 64.bit to run through Wine on linux

On Thu, May 3, 2018, 4:28 AM Kerrung <notifications@github.com> wrote:

[2018-05-03 16:35] Kerrung commented on #35
@disks86, Thank you!

[2018-05-09 19:12] Zeioth commented on #36
I was thinking on Guild Wars too.

Another experiment i wanted to do is to use vk9 with cemu. If vk9 has it own shader cache, it would be a workaround to the current [shader cache limitation](https://devtalk.nvidia.com/default/topic/1032059/opengl-shader-disk-cache-max-size-garbage-collection-/?offset=12#5257882) of nvidia cards.

[2018-05-09 19:31] Kerrung commented on #36
@Zeioth, DXVK developer removed the built-in DXVK shader cache. Drivers of all vendors already have their own shader cache implementation.
For Mesa drivers: ~/.cache/mesa
For Nvidia blob: ~/.NV

[2018-05-09 19:33] Zeioth commented on #36
Well I guess Nvidia will fix it... Eventually.

[2018-05-09 19:38] Kerrung commented on #36
@Zeioth, there's nothing to fix, because, as I just said the shader cache is already implemented in the drivers themselves, that's why he removed the built-in DXVK shader cache.

[2018-05-09 19:42] Zeioth commented on #36
Read my previous message and you'll see I'm speaking about the [current limitation](https://devtalk.nvidia.com/default/topic/1032059/opengl-shader-disk-cache-max-size-garbage-collection-/?offset=12#5257882) of 128MB shader cache per game.

[2018-05-10 21:39] guglovich opened #37 "Black screen and departure from the game"
The problem with running the game Lineage 2. Log applying.
[log.txt](https://github.com/disks86/VK9/files/1993294/log.txt)

[2018-05-13 00:54] disks86 commented on #37
The the messages in the log seem to indicate that the version of wine you are using doesn't support the debug extensions. Was a VK9.log created?

[2018-05-13 10:53] guglovich commented on #37
Yes. Apply
[VK9.log](https://github.com/disks86/VK9/files/1998366/VK9.log)

[2018-05-13 11:50] disks86 commented on #37
Looks like the issue is the lack of support for the fcr instruction. I'll look into it.

[2018-05-13 13:03] guglovich commented on #37
Thank. I'll wait for the test files.

[2018-05-14 04:02] #36 closed

[2018-05-19 02:39] RomanHargrave opened #38 "Remove Boost Dependencies"
VK9's dependency on Boost is largely unneeded. My brief analysis found that the majority of boost surface area (just by line/number of calls) is for logging, which could easily be handled internally, second to that is collections (which could be replaced with stdlib collections or local implementations), and finally, things like boost foreach which arguably should not even exist.

[2018-05-19 06:16] RomanHargrave opened #39 "Meson build fails due to (falsely) unsatisfied dependencies"
@mmmaisel

Attempting to build on Linux, according to the wiki (using boost 1.63, 1.67/Latest don't cross compile and I'm not interested in sitting down and troubleshooting why)

[code]

Here's a meson log (x86_64, but at the moment both archs fail for the same reason)

[code]

Not really a help WRT dependencies, but if I had to guess, it's because meson is trying to use pkg-config, but in the ins

[2018-05-19 20:26] disks86 commented on #38
I'm using boost because it works. While it's true that I could write "local implementations" that would be more code I need to build & test. I don't really have the time or desire to write replacements for boost functionality but patches are of course welcome.

[2018-05-19 20:57] disks86 commented on #25
Closing issue because it appears to be resolved and has been inactive for over a month.

[2018-05-19 20:57] #25 closed

[2018-05-19 22:10] RomanHargrave commented on #38
I can definitely understand that reasoning. I was pretty tired when I wrote this, but I have already had a glance at the boost usage and think that it would be feasible to drop it in favor of a less involved build process, much closer to DXVK's own.

[2018-05-20 13:08] mmmaisel commented on #39
You have to install boost (headers and libs) directly into MinGW's hardcoded search paths, in case of Ubuntu 18.04 the paths are /usr/i686-w64-mingw32 and /usr/x86_64-w64-mingw32. Using another install path does not work because Meson detects boost with some builtin logic rather than pkg-config.

@disks86
Could I get write access to the Linux build wiki page to update and improve the build instruc

[2018-05-20 13:54] RomanHargrave commented on #39
@mmmaisel that is indeed where boost has been installed (using Debian, but that convention is pretty universal for cross compilers), but it does not appear to have been found.

[2018-05-20 13:56] RomanHargrave commented on #39
I am not familiar, at all, with meson, but I assume that a declaration like `dependency('boost', modules : [ ... ])` is going to use pkg-config?

[2018-05-20 15:14] mmmaisel commented on #39
Meson uses pkg-config for `dependency(...)` statements except if it has some special detection login built in for the given dependency name. A list of dependencies which do not use pkg-config can be found [here](https://github.com/mesonbuild/meson/blob/master/docs/markdown/Dependencies.md#dependencies-with-custom-lookup-functionality).

Now to the "boost not found" problem:
Please check that the d

[2018-05-21 18:11] RomanHargrave commented on #39
Those directory layouts are both correct (unless the /var/opt bit is actually important, which would be wholly unconventional -- i've packaged boost for debian and it is installed in the appropriate cross-build directories -- /usr/(arch)-w64-mingw32/...)

Both architectures fail to build for VK9

[2018-05-22 15:14] byaka opened #41 "Trying HoMM 5"
Trying to fix problem, when HoMM5 goes insane and show anly 2-3fps on nvidia (this can be fixed only by changing any video setting, but impossible if in battle).

I see splash-screen and then crash
[code]

I'm use latest release version
[VK9.log](https://github.com/disks86/VK9/files/2027042/VK9.log)

[2018-05-23 14:29] RomanHargrave commented on #39
@mmmaisel yes, it does

[2018-05-24 11:17] RicardoEPRodrigues opened #42 "Enhencement: Install Instruction for Linux"
The wiki provides an install instruction for Windows correct?

Is it possible to add install instruction for Linux based on the "Release" builds?

[2018-05-24 16:32] disks86 commented on #42
I think there are some details to help in the Linux build instructions but I don't believe separate install instructions were provided in the PR. I think there is just a script to run to install.

[2018-05-24 16:34] RicardoEPRodrigues commented on #42
I need to build VK9 to use it on Linux?

Can't I just use the "Release" builds?

Forgive my lack of knowledge. :smile:

[2018-05-24 19:22] baka0815 commented on #42
It should be enough to just copy those files from the zip into the directory of the game or the Windows directory of your wine home.

[2018-05-24 21:18] RicardoEPRodrigues commented on #42
When I can I'll try to run Guild Wars 2 using VK9.

How can I check if the VK9 is being used? DXVK is using log files (`d3d11.log` and `dxgi.log`) or using a HUD.

[2018-05-25 03:55] Zeioth commented on #42
For GW2 you need the x64 bits version of vk9. Right now you must compile it by yourself. But if you can't, wait. In the next releases it is gonna be avaliable too, I think.

[2018-05-25 04:04] PadreAdamo commented on #42
Hell yes! GW2 is the driving force for me as well. I am not a developer but
contribute where I can which happens to be the Patreon. Please let me know
if AI could assist with testing. I have an all AMD machine.

On Thu, May 24, 2018, 5:18 PM Ricardo Rodrigues <notifications@github.com>
wrote:

[2018-05-25 14:40] disks86 commented on #39
Is this still an issue with the latest PR?

[2018-05-25 15:03] disks86 commented on #42
@RicardoEPRodrigues VK9 creates a VK9.log file when it runs.

[2018-05-25 15:07] disks86 commented on #35
I just posted a new release with builds. There is a 32bit and 64bit build. [](https://github.com/disks86/VK9/releases/tag/0.26.0)

[2018-05-25 15:07] #35 closed

[2018-05-25 15:13] RicardoEPRodrigues commented on #42
I think I'll wait for a next x64 build in "Release" and then try it out.

I don't currently have a machine with the needed dependencies.

Thank you!

[2018-05-25 15:26] mmmaisel commented on #39
@RomanHargrave
That's weird, it looks like your boost is installed correctly but mesons detection algorithm cannot find it.

Please try adding:
[code]
beetween the lines
[code]
in my package_release.sh buildscript (adjust paths and architecture as needed).
This should allow you to build at least one architecture at a time.

How did you build boost? Did you made a debug build or something similar?

[2018-05-25 15:47] mmmaisel commented on #42
New 32bit and 64bit releases are out now.

On Linux, VK9 dlls have to copied into
- 32bit WINEPREFIX, 32bit dll: $WINEPREFIX/drive_c/windows/system32
- 64bit WINEPREFIX, 32bit dll: $WINEPREFIX/drive_c/windows/syswow64
- 64bit WINEPREFIX, 64bit dll: $WINEPREFIX/drive_c/windows/system32

and d3d9.dll has to be set to "native" in winecfg.

All compiled shaders (*.spv) and VK9.conf have to be copied t

[2018-05-25 16:11] RicardoEPRodrigues commented on #42
This info should be added to the [Installation Instructions](https://github.com/disks86/VK9/wiki/Installation-Instructions)! :smile:

[2018-05-25 16:21] RicardoEPRodrigues commented on #42
One question: Should I place the `D3d9.pdb` file next to the `.dll` file? Can it be ignored?

[2018-05-25 20:24] Monsterovich opened #44 "Debug builds require debug libraries"
It doesn't run.

009d:err:module:import_dll Library MSVCP140D.dll (which is needed by L"Z:\\home\\monsterovich\\Games&Apps\\Star Wars-The Old Republic\\swtor\\RetailClient\\d3d9.dll") not found
009d:err:module:import_dll Library VCRUNTIME140D.dll (which is needed by L"Z:\\home\\monsterovich\\Games&Apps\\Star Wars-The Old Republic\\swtor\\RetailClient\\d3d9.dll") not found
009d:err:module:import_dl

[2018-05-25 20:50] Monsterovich commented on #44
Well, I found these dlls on the Internet. It just hangs at 100% CPU and doesn't work anymore. Worked fine in previous version.

[2018-05-25 21:42] RicardoEPRodrigues commented on #42
Ok. At this moment I can't get it to work, but let me describe what I've done.

First of all I downloaded GW2, I used a portable GW2/Wine version from the [GW2 Forums](https://en-forum.guildwars2.com/discussion/31192/playing-guild-wars-2-on-linux-performance-optimizations-and-more).

If offers a couple of simple commands, `play`, `setup` and `wine_settings`, the last one opens up the wine config f

[2018-05-26 00:49] Zeioth commented on #42
@RicardoEPRodrigues I can reproduce your error.

[cashlog.log](https://github.com/disks86/VK9/files/2041163/cashlog.log)

And I can't find VK9.log either, even after changing VK9.conf path to

    LogFile = /home/zeioth/vk9.log

[2018-05-26 00:53] PadreAdamo commented on #42
Is anyone using this guild wars 2 without issue?

On Fri, May 25, 2018, 8:49 PM Zeioth <notifications@github.com> wrote:

[2018-05-26 01:35] Zeioth commented on #42
@PadreAdamo Don't expect VK9 to be fully functional yet. We are just trying to provide useful information to @disks86 .

[2018-05-26 03:04] qwertychouskie commented on #44
@disks86 According to [this](https://social.msdn.microsoft.com/Forums/vstudio/en-US/06b66cae-d010-441d-bc72-64a8c7cd65bc/missing-vcruntime140ddll-and-ucrtbaseddll?forum=visualstudiogeneral), the issue is that they were compiled in debug mode.  The debug DLLs aren't redistributable, see https://stackoverflow.com/questions/39010509/vcruntime140-dll-vs-vcruntime140d-dll.

[2018-05-26 14:03] RicardoEPRodrigues commented on #42
Unfortunately the crash log is not very informative I believe.

I posted an issue on the portable GW2/Wine for the Wine version to be ported to 3.x ([link](https://github.com/Jrugia/wine_gw2/issues/1)), this way maybe we can have a place to easily test the VK9 on GW2.

[2018-05-27 11:34] redni opened #45 "vulkan-1 not found"
Arch Linux

The script can not find vulkan-1 in any way. I installed: `winetricks vulkansdk `and then with `~ /wine /drive_c/VulkanSDK` I copied all files accordingly.

`[inder@oad vk9]$ ls /*/*ming*/vulkan/*/*`
[code]

[code]

[2018-05-27 14:50] disks86 commented on #45
@mmmaisel can you look at this?

[2018-05-28 15:18] mmmaisel commented on #42
@disks86
I attached [installation instructions](https://github.com/disks86/VK9/files/2045518/Installation-Instructions.md.txt) for Linux to this comment. Please merge them to the wiki.

[2018-05-28 16:22] redni commented on #45
@mmmaisel no, I checked. The problem does not seem to be related to paths. I even modified the vulkan-1.pc file from dep32 and dep64 to check, tried several combinations and several paths still the same.

`ls /var/opt/*/*/*`

[code]

`meson.build:15:0: ERROR:  Cross dependency 'vulkan-1' not found`

[2018-05-29 15:22] mmmaisel commented on #45
@redni
Do you have mingw-pkg-config (i686-w64-mingw32 and x86_64-w63-mingw32) installed? If yes, does pkg-config finds the dependencies if invoked manually (export the PKG_CONFIG_PATH=/path/to/dep* directory first as in my build script)?

If paths are not the problem, it looks to me like pkg-config does not find the dependencies at all but this is hard to find out for me as I can't reproduce the e

[2018-05-30 00:13] disks86 commented on #45
@mmmaisel  I updated the build instructions with the new ones provided here.

[2018-05-30 00:18] disks86 commented on #42
@mmmaisel Thank you, I merged these into the wiki.

[2018-05-30 00:18] #42 closed

[2018-05-30 12:00] redni commented on #45
The problem was related to something else. I had `mingw-64-pkg-config` installed, for sure I checked the logs or omitted something. I found information:

So, I was editing the file `package-release.sh` and under the variable `PKG_CONFIG_PATH` I added another `PKG_CONFIG_PATH_CUSTOM` now the file looks like this.

[code]

And it worked: `Cross dependency vulkan-1 found: YES 1.0.61.1`

I was surpris

[2018-05-31 01:29] #45 closed

[2018-06-01 23:44] benny10033 opened #47 "Compile fail on gentoo: undefined reference to `RealQuery::RealQuery(RealWindow*)'"
On Gentoo linux with 4.9.95-gentoo kernel, I am not able to compile even after following #45. It failed for both x32 and x64.

The problem is that somehow RealQuery.cpp is not present in the build.ninja files for both x32 and x64. Any ideas?

64 Build log
[code]

[2018-06-02 18:14] redni commented on #47
Someone forgot to add the RealQuery.cpp file to meson.build, I added pull request which makes the complication end correctly.

[2018-06-02 19:06] yurikoles opened #49 "MeltonVK support?"
There is project MeltonVK, which provides Vulkan implementation for macOS and iOS based on Metal API.
Dota 2 already uses it and gains performance boost.
Please consider adding support for MeltonVK/macOS to this repo.

[2018-06-02 19:15] Yardanico commented on #49
MoltenVK still doesn't support all Vulkan extensions, that's why it can't work with dxvk currently (for example). I don't know about DXVK though

[2018-06-02 20:57] Kerrung commented on #49
@yurikoles @Yardanico
https://github.com/doitsujin/dxvk/issues/350

[2018-06-02 21:12] redni commented on #37
I think I have a similar error. I compiled the VK9 and tried to run the game. It starts with the whole black screen and disappears after a few seconds. The error messages are similar `Unsupported instruction (...) `and `(...) is not implemented!` I attach the logs. [VK9.log](https://github.com/disks86/VK9/files/2065384/VK9.log)

[2018-06-03 11:39] ImperatorS79 commented on #49
It has to be done by wine, not vk9
[https://github.com/roderickc/wine-vulkan/issues/8](https://github.com/roderickc/wine-vulkan/issues/8)

[2018-06-04 23:47] RicardoEPRodrigues commented on #42
@disks86 Regarding GW2/Wine portable, they updated the Wine version.

https://github.com/Jrugia/wine_gw2/issues/1#issuecomment-394495508

This might be a better version to test on, although it still crashes :smile:

If you want to test things out it's a good base point.

[2018-06-06 23:54] #47 closed

[2018-06-06 23:57] disks86 commented on #49
This project is a windows DLL that forwards d3d9 calls to vulkan. Running on MacOS is dependent on Wine supporting vulkan on MacOS and MoltenVK implementing all of the needed features. I haven't looked into it and don't have a Mac to test on but as long as the proper support is there I don't see why it wouldn't work.

[2018-06-07 00:11] qwertychouskie commented on #44
As far as I understand, the "Debug" builds are useless without the entire Visual Studio installed.  @disks86 could you release some "Release" binaries?  Also the DLLs should have lowercase names (Linux is case-sensitive when it comes to filenames).

[2018-06-07 01:08] disks86 commented on #44
I believe all you need is the Windows SDK but yes you need the debug libraries. Release builds won't provide nearly as much information in case of a crash but I can include them when I put together the next set of builds.

[2018-06-14 20:27] CookiePLMonster commented on #38
Could [bcp](https://www.boost.org/doc/libs/1_67_0/tools/bcp/doc/html/index.html) be used to extract required Boost components and check them in the repository directly?

[2018-06-16 05:55] RomanHargrave commented on #38
I suppose, and it's probably not a bad (long term) interim solution since the majority of boost usage at-a-glance is logging related.

I do intend to actually act on my suggestion and submit a branch but I am currently in the middle of a job transition.

[2018-06-21 01:13] Pillgar commented on #42
I had a similar experience with Star Wars: The Old Republic.  The game would crash upon executing the launcher when d3d9 was set to native.  Setting it to "native then builtin" worked, though there was no VK9.log, thus indicating it wasn't being used.  I noticed there is a D3d9.pdb file with no mention of it in the instructions.  Should that be copied to system32/syswow64 or the .exe directory?

[2018-06-21 10:14] RicardoEPRodrigues commented on #42
@Pillgar I believe the `.pdb` file is for debug purposes, so it can be ignored 😄

[2018-06-27 20:42] aladar42 opened #52 "Possible regression in 0.26.0 - loading library failed"
Hey, I'm trying VK9 and I get this every time I try to run BlazBlue Cross Tag Battle:

0009:err:module:import_dll Loading library d3d9.dll (which is needed by L"Z:\\run\\media\\aladar\\fad599b8-eb10-4814-95bd-fa0e60942ce7\\home\\aladar\\BlazBlue - Cross Tag Battle\\BBTAG.exe") failed (error c000007b).
0009:err:module:attach_dlls Importing dlls for L"Z:\\run\\media\\aladar\\fad599b8-eb10-4814-95bd-

[2018-06-27 21:13] MrChebik commented on #52
@aladar42 Sorry, but it's a joke?
You try to run game of 2018 year with **VK9**?

Now this project is at a very early stage of development. And can run simple projects / demos.
Сonsidering that there are few people working on the project, and everything creates from scratch (if I understand correctly).

For example, I can't to run **Asterix XXL** with **VK9**.

[2018-06-27 21:37] doitsujin commented on #52
The interesting part is this:

This means that
- either wine genuinely can't find your `d3d9.dll`
- your `d3d9.dll` has the wrong architecture
- you are using the debug DLLs, which do not work on wine (use the release builds instead).
- it fails to load some dependency.

You could try to get some more verbose output with `WINEDEBUG=module`.

[2018-06-27 22:03] qwertychouskie commented on #52
Probably a dupe of https://github.com/disks86/VK9/issues/44

[2018-06-27 22:10] aladar42 commented on #52
Could be. I tried to build the dlls myself but for some reason the compiler is throwing errors about missing boost dependency, even though I do have boost installed and followed the project Wiki to get the additional libs compiled. No idea how to go about that...

[2018-07-20 01:10] disks86 commented on #23
Quick update on this a member of the community is looking into adding a HUD to vk9.

[2018-07-21 01:57] disks86 commented on #49
No it's still all on the wine side. Mac or Linux doesn't matter to vk9 as long as the features it needs are there.

[2018-07-22 15:59] enesaltinkaya opened #53 "Github release in release format"
Can you release compiled version in release mode please?

Trying to run dll's in debug mod requires ****d.dll (msvcp140d.dll)

Can be problematic.

[2018-07-27 01:05] disks86 commented on #53
This is a duplicate of #52 and #44 . I'll make sure to include release builds in the next release.

[2018-07-30 07:03] stalkerg commented on #38
Any progress here?

[2018-08-01 00:51] disks86 commented on #38
No, I haven't received any patches for this.

[2018-08-07 16:02] byaka commented on #41
think it's bad idea to create such issues on this stage of project.
I'll re-test it with first release. Cant help with develop, so supporting u in patreon m8 ;)

[2018-08-07 16:02] #41 closed

[2018-08-09 01:17] disks86 commented on #53
The most recent build contains a release build.

[2018-08-09 01:17] #53 closed

[2018-08-09 01:17] disks86 commented on #52
The most recent build contains a release build.

[2018-08-09 01:17] #52 closed

[2018-08-09 01:18] disks86 commented on #44
The most recent build contains a release build.

[2018-08-09 01:18] #44 closed

[2018-08-10 03:36] Anuskuss opened #54 "Rocket League on Windows"
I know this isn't ready for prime time yet, just want to submit a log
[code]

Btw really big fan of your work 😉

[2018-08-10 09:55] disks86 commented on #54
I'll take a look  when I get off work. It looks like it couldn't find an image format it liked so it ended up passing zero to create and then blew up.

[2018-08-12 20:40] legluondunet commented on #39
It is still an issue on Ubuntu 18.04, I installed all libboost packages available, in 1.62 and 1.675version, but VK9 compile script didn't find them.

[2018-08-12 20:57] legluondunet opened #55 "Dragon Bal Z Xenoverse"
Hello,
I tested VK9 with this game and it crashes at launch.
I joined you the vk9.log file.

Thank you for your help.

Config:
Ubuntu 18.04
Nvidia
[VK9.log](https://github.com/disks86/VK9/files/2281338/VK9.log)

[2018-08-26 17:06] BLaDZer opened #57 "World of Warcraft crashed at start"
Hi thnx for your job! I hope it's ok to paste error log here?

[VK9.log](https://github.com/disks86/VK9/files/2321703/VK9.log)

and some more from console:
[code]

[2018-08-27 17:16] yoshimo commented on #57
DX9 was removed for Battle for Azeroth, are you trying an older version on a private realm?

[2018-08-27 19:26] BLaDZer commented on #57
@yoshimo you are completely right. I hope it isn't a problem. So bad I don't like new WoW addons

[2018-08-28 19:45] byaka commented on #57
@BLaDZer what wow addons is it? vanilla?

[2018-08-29 08:35] XJDHDR opened #58 "The Elder Scrolls 4: Oblivion - Crash on start"
VK9 v0.27.0
Windows 10 Pro x64 1703
Nvidia GeForce 1080 Ti with v398.82 drivers

I'm sorry if this bug report is inappropriate at this time. I know that VK9 is still in early development and I highly appreciate what you are doing.
I tried to use VK9 with TES4: Oblivion but the game crashed on start. I have attached the log file that was created. The log is 190 KB and there was one section where th

[2018-08-29 16:26] disks86 commented on #37
This appears to be a different error but I'll look into it when I can.

[2018-08-31 18:14] BLaDZer commented on #57
@byaka it is Lich King 3.3.5a

[2018-08-31 20:58] Venemo commented on #57
I tried Starcraft 2 a couple of weeks ago and experienced a similar crash. The [docs](https://docs.microsoft.com/en-us/windows/desktop/direct3d9/d3dformat) say that the `77` is `D3DFMT_D24X8`.

[2018-09-01 13:12] Kerrung opened #59 "How can I accurately determine that now in this game I use VK9 instead of WineD3D?"
@disks86  Hi! Thank you for all of your hard work!
But, how I can accurately determine that now in this game I use VK9 instead of WineD3D?
For example, when I start the game StarCraft 2 with VK9, I do not see any difference with WineD3D, including I do not see any difference in fps between them.

[2018-09-01 14:11] disks86 commented on #59
There should be a vk9.log created when it runs.

[2018-09-05 10:30] DxCx commented on #42
Hey @RicardoEPRodrigues
Any luck with gw2?
Im playing with wine pba atm but results still not sufficient :/

[2018-09-05 12:59] RicardoEPRodrigues commented on #42
@DxCx I believe VK9 still hasn't implemented all needed features for GW2 to work.

For now I'm waiting and watching out for VK9 development and also [D3D9 to 11](https://github.com/GabrielMajeri/d3d9-to-11).

[2018-09-05 15:12] DxCx commented on #42
@RicardoEPRodrigues  let me know if you are able to get something working please (i'll do the same ofc)
i am getting around 20fps using Nvidia 1050 (i7 7700HQ) this is just feels wrong... :|

[2018-09-09 20:43] logan001 opened #60 "GuildWars 2 freeze"
It freeze right when it suppose to enter the game/character selection. nothing appears. just a freeze desktop with what was there behind the gane "window"
[code]

[2018-09-11 08:01] DxCx commented on #60
Im also interested in VK9 for gw2

[2018-09-12 23:19] Morganamilo opened #61 "System wide install"
The wiki states:

Is there any way to install this system wide so these files do not need to be copied per application? I'm assuming the wiki would say so if there was. What I'd really like to know if this is a permanent solution or you eventually intend to remove this requirement?

[2018-09-13 02:08] Morganamilo commented on #61
In addition VK9.conf should also be in `/etc/VK9.conf`, perhaps with the the ability to be overridden by `./VK9.conf`. It would also be nice if `VK9.conf` could be renamed to `vk9.conf` to fit in with every other config file.

[2018-09-14 23:13] Venemo commented on #59
@Kerrung How did you manage to do that? For me SC2 did not even launch when I tried it with VK9.

[2018-09-15 00:04] qwertychouskie commented on #59
I highly suspect not, did you set the DLL overrides in winecfg?

[2018-09-15 21:42] disks86 commented on #61
VK9 would run inside of wine so it wouldn't know about /etc/VK9.conf unless your / or /etc/ folder were mapped to a driver letter in wine like Z: or something. I originally planned to embed the shader files in the DLL but decided users may wish to replace them to fiddle with the effects. I'm not opposed to a system wide install but I suspect most people will be using this in a bottle of some sort.

[2018-09-15 22:02] Morganamilo commented on #61
By system wide I meant inside of the bottle. I wish to copy the DLL and sharers once, then I can install all of my games inside of that bottle with no additional setup. Bundling the shaders does sound like a way to do it. Maybe instead you could have the shaders also be placed in system 32?

I didn't think about /etc not being accessible though. Is the config optional? The wiki didn't really speci

[2018-09-15 22:08] disks86 commented on #61
I think I have defaults if the config is missing but when I test I always have the config so you may get undesired behavior. What I was getting at with the bottle is that each game may be in a separate bottle. If that is the case you would still need to copy it for each bottle.

[2018-09-15 22:10] Morganamilo commented on #61
True, but I have a winetricks verb to copy it for me. The problem with the shaders are that where I need to copy them to changes on a per game basis. Can't really script that.

[2018-09-20 01:19] disks86 commented on #61
The shaders are now built into the DLL so I'm going to close this issue.

[2018-09-20 01:19] #61 closed

[2018-09-23 05:03] KaleidonKep99 opened #62 "Piano From Above crashes on startup"
This small app keeps crashing on start-up, VK9 seems to fail to create the 3D surface.
I don't know if it's an error in VK9, or in the graphics driver.

Log:
[code]

Windows Error Reporting log:
[code]

Download link for the app: http://kaleidonkep99.altervista.org/pfamirror/downloads/PFA-1.1.0-setup.exe

[2018-09-27 06:36] AccountOneOff opened #64 "Prince of Persia: Sands of Time"
Complains about "Unable to find a valid display mode"

[VK9.log](https://github.com/disks86/VK9/files/2422741/VK9.log)

[2018-09-27 07:02] AccountOneOff commented on #64
This time it changed my virtual desktop resolution.

[VK9.log](https://github.com/disks86/VK9/files/2422818/VK9.log)

[2018-09-27 07:07] AccountOneOff opened #65 "Beyond Good and Evil"
Changed my virtual desktop resolution and the settings complains about outdated drivers.

[VK9.log](https://github.com/disks86/VK9/files/2422804/VK9.log)

[2018-09-29 20:59] disks86 commented on #64
It looks like the main issue is the lack of blend indices support.

[2018-09-30 06:16] alex3kov opened #66 "Dawn of War: Dark Crusade, game not starting, nothing is logged by VK9"
Arch Linux, WINE 3.17, VK9 0.28.0, win32 wineprefix.
Did the VK9 installation according to [Wiki page](https://github.com/disks86/VK9/wiki/Installation-Instructions-(Linux)) (can't find any *.spv files anywhere though, are they important?)
Game crashes on start (doesn't get to any graphics at all). VK9.log file remains empty. I tried setting EnableDebugLayers to 1 and LogLevel to 1 and 5 in VK9.co

[2018-10-03 16:41] disks86 commented on #66
The instance error looks like enabling validation layers without the sdk installed. Can you try installing that to see if you get useful output?

[2018-10-04 00:13] disks86 commented on #38
I think the only things I'm still using from boost at this point are the options and logging pieces. Both of those work pretty well though so I don't foresee me pulling them out.

[2018-10-04 01:05] disks86 commented on #64
Added missing instructions. still no blend index support.

[2018-10-04 01:49] stalkerg commented on #38
Do you mean https://www.boost.org/doc/libs/1_53_0/doc/html/program_options.html ?

[2018-10-04 02:38] stalkerg commented on #38
I suppose Program Options we can replace and make logging as optional (or with a stub) after that the boost will be optional too.

[2018-10-04 05:36] alex3kov commented on #66
Sorry, can you clarify please - install which SDK and where? I have all vulkan-devel stuff installed on the host OS.

[2018-10-04 06:59] alex3kov commented on #66
Also Dota 2 runs fine on Vulkan on my system.

[2018-10-04 19:43] acedogblast opened #67 "Undertale Failed to create Direct3D 9EX device"
Game: UNDERTALE.exe
OS: Windows 10
GPU: Geforce 940M
Driver : 399.32 (Latest Vulkan Beta)
Game pops up error dialog immediately after game starts. No log file was created. Will VK9 support direct3d 9ex? I can also provide a API trace if you request it.
Also I can submit more game bug reports but since you didn't state your policy for bug reports for platforms other than Linux you can close this if

[2018-10-05 00:28] disks86 commented on #62
With validation layers on I get this []: RealSurface::RealSurface unknown format: 0

It seems like the app is passing UNKNOWN as an image format either that or there is something up with the format translation.

[2018-10-05 02:41] KaleidonKep99 commented on #62
Knowing how basic Piano From Above is, I'd expect it to create a really rudimentary 3D surface with the most basic settings allowed by Direct3D.
If it's not fixable, it's okay! This app is almost 10 years old anyway, and works fine in with D3D9 too... Even though it has some issues with WineD3D.

[2018-10-05 02:53] AccountOneOff commented on #65
Ubuntu 18.04 GTX 960 396.54.05

[2018-10-06 01:18] disks86 commented on #62
Turns out passing unknown is pretty much the application telling d3d9 to go figure out what the surface format is. I got that piece implemented. Vulkan doesn't seem to like the hardware handle from the control though. I wonder if it's because it's a control and not a window. This is the first time I've tried that. Anyway with the fixes the application doesn't crash but all you get is a black box.

[2018-10-06 01:31] disks86 commented on #66
I was talking about the Vulkan SDK. The reason I mentioned that is "vkCreateDebugReportCallbackEXT" is only used if the dialog layers are enabled from the VK9 config. If the debug layers are enabled you'll need the SDK though. Regardless it was unable to create a Vulkan instance which leads me to believe there is something up with Vulkan in Wine on your machine. When you ran vulkaninfo was that in

[2018-10-06 01:45] disks86 commented on #37
@redni or @guglovich  can one of you re-test this game with the latest build.

[2018-10-06 07:31] alex3kov commented on #66
OK, thanks, I've set debug to 0, VK9.conf now looks like this:
[code]
And I'm getting a different error now, here's the WINE log: https://gist.github.com/alex3kov/0571bc1b8bbe800d62a01f7a16a59be2
![2018-10-06-102812_224x82_scrot](https://user-images.githubusercontent.com/3616242/46568746-e28a0f00-c952-11e8-872f-f42c1940af92.png)
Still nothing in VK9.log btw.

[2018-10-06 17:44] qwertychouskie commented on #66
Probably you are passing a Linux path as the log path although VK9 is running in Wine.  Try `Z:\tmp\VK9.log` for the path (the `Z` drive in Wine maps to `/`).

[2018-10-06 17:45] disks86 commented on #65
I just pushed out a "0.28.1" release which contains fixes which helped with an application which received a similar error. Can you re-try with this new build?

[2018-10-06 17:49] disks86 commented on #60
I don't have REP support yet but I believe I've resolved the other messages in the log.

[2018-10-06 17:50] disks86 commented on #58
Can you re-try this with the "0.28.1" release that I just pushed out?

[2018-10-06 17:51] disks86 commented on #57
@BLaDZer can you re-try this with the new "0.28.1" release that I just posted?

[2018-10-06 17:53] disks86 commented on #55
Still working on CMP support as well as vertex usage 1,2, and 6. The rest of the messages in the log should be resolved as of "0.28.1".

[2018-10-06 17:53] disks86 commented on #54
@Anuskuss can you re-test this with "0.28.1"?

[2018-10-06 18:46] alex3kov commented on #66
Indeed!  Here's VK9 log: https://gist.github.com/alex3kov/be387a1df122701ed25c7608ede498f9

[2018-10-06 19:27] XJDHDR commented on #58
Just gave it a try. The game is still crashing on start. The main change I an seeing in the log is that a large number of "CheckDeviceFormat is not implemented" messages have been replaced by "CheckDeviceFormat (D3D_OK)" messages. I am seeing a few "CheckDeviceFormat (D3DERR_NOTAVAILABLE)" messages and I'm still getting that large block of NULL characters.

Here is the log file from v0.28.1:
[VK9.

[2018-10-06 20:57] AccountOneOff commented on #65
https://paste.ubuntu.com/p/nPPgRmW6Wb/ Wine complains about an unhandled exception.

[VK9.log](https://github.com/disks86/VK9/files/2453402/VK9.log)

[2018-10-06 21:06] AccountOneOff commented on #64
With 0.28.1

[VK9.log](https://github.com/disks86/VK9/files/2453406/VK9.log)

[2018-10-06 23:45] ZachBacon opened #68 "Spelunky"
Figured I'd drop this in. Log shows some minor shader converter issues like D3DSPSM_BIASNEG
Anyways, here's the log. Doesn't look like it's overly complicated to resolve, but then again. I'm not overall sure since I haven't really delved into the world of vulkan yet myself.
[VK9.log](https://github.com/disks86/VK9/files/2453490/VK9.log)

[2018-10-07 09:52] BLaDZer commented on #57
Yep. Here it is(tested on wine 3.15) - game still crashing:
[VK9.log](https://github.com/disks86/VK9/files/2453772/VK9.log)

[2018-10-07 22:56] ZachBacon opened #70 "Borderlands"
Tested Borderlands with the latest release. Seems there's more D3DSPDM involved with this, more though along the lines of D3DSPDM_PARTIALPRECISION
[VK9.log](https://github.com/disks86/VK9/files/2454425/VK9.log)

[2018-10-08 04:16] KaleidonKep99 commented on #62
I tried the latest release, which now requires RenderDoc to work. (Was it a required dependency before too?)

It now spits out this log:
[code]

I just wanted to keep you updated with it, even though you already know its current status. 💃

[2018-10-08 19:34] masaykh opened #71 "Civilization 4 - not able to start"
Original log file
[VK9.log](https://github.com/disks86/VK9/files/2457447/VK9.log)
version with renderdoc.dll placed at the same directory as game exe and vk9 dll
[VK9-renderdoc.log](https://github.com/disks86/VK9/files/2457446/VK9-renderdoc.log)

[2018-10-08 20:09] Anuskuss commented on #54
Looks better.

[code]

[2018-10-11 01:28] disks86 commented on #62
It doesn't require renderdoc that message just lets you know it couldn't find the DLL. It just doesn't load it if it can't find it. You're not the first to ask about that so I probably need to change the log message to make it more clear.

[2018-10-12 00:31] 999gary opened #72 "Silent Hill 2 w/ Enhanced Mod"
Hi,

Normal SH2 on pc uses d3d8, but this mod makes it use d3d9 for specific enhancements.
The mod website says the converter is based on corsair's d3d8to9, but with game specific fixes.
Window is made, but then it crashes.
Tested on wine.

VK9: 0.28.1
Wine: wine-staging 3.17
GPU: NVIDIA GTX 970
Driver:  410.57

[VK9.log](https://github.com/disks86/VK9/files/2471144/VK9.log)

[2018-10-15 15:28] dejayruski opened #73 "Call of Duty Modern Warfare crashes on startup"
Game crashes on startup. Both multiplayer and singleplayer

VK9 0.28.1
Radeon 7950
Wine 3.18 staging
Game: iw3mp.exe
Driver: amdgpu
[VK9.log](https://github.com/disks86/VK9/files/2479391/VK9.log)

[2018-10-19 17:53] Nerus87 commented on #23
Sorry for my log out without any log of my status from the matrix.

The main purpose of this enhancement is to see that Vulkan wrapper will really works on game.

[2018-10-20 01:41] disks86 commented on #73
Looks like the main issue is lack of DSX and DSY support.

[2018-11-09 21:35] funkerwolf opened #74 "F.E.A.R. Perseus Mandate crash on start"
VK9 0.28.1
GTX 1060 6Gb/HD 630
Windows 10 1809 Pro for Workstations x64
Driver 416.81
F.E.A.R. Perseus Mandate Steam Version
[VK9.log](https://github.com/disks86/VK9/files/2567571/VK9.log)

[2018-11-20 09:04] HeroToss opened #75 "Titan Quest Anniversary Edition black screen"
vk9 0.28.1-bin-x86-Release (right into game directory)
Ubuntu 18.10 x64
Wine 3.20-Staging (d3d9 native)
Titan Quest Anniversary Edition GOG
The game start normally but with green background like 16bit mode and then after the logo it goes black screen.
here s the log and screenshot
 [VK9.log](https://github.com/disks86/VK9/files/2598818/VK9.log)
![vk9_tqae](https://user-images.githubusercontent.com

[2018-11-21 14:50] acedogblast opened #76 "Grand Theft Auto IV (Complete Edition) Fails to start up"
Version: 0.28.1
Launching GTA IV opens up a black screen but then crashes. If VK9 would work with this game it would be considered a massive milestone. Thanks for your work on this.
[VK9.log](https://github.com/disks86/VK9/files/2604637/VK9.log)

[2018-11-21 15:16] K0bin commented on #76
VK9 isn't quite ready for games yet.

The problem here in particular seems to be lots of unimplemented shader op codes, probably shader model 3 stuff.

[2018-11-25 18:41] guglovich commented on #37
I apologize for the long silence. Unfortunately my game no longer runs through Wine, so I can not say about the working. Changing versions of Wine has not changed anything.

[2018-11-27 08:19] shalzz opened #78 "Assassin's Creed 2: fails to start"
Version: 0.28.1
Launching AC-2 results in a black screen and then crash. You can hear a short audio sound of the intro before crash.

[VK9.log](https://github.com/disks86/VK9/files/2618906/VK9.log)
[wine.log](https://github.com/disks86/VK9/files/2618908/wine.log)

[2018-12-16 03:55] disks86 commented on #58
Thank you for checking. At this point I'd probably need to run the game through PIX to see what kind of weird stuff it's doing. I don't own the game though. The deluxe edition is only like $20 on steam though so I might pick it later.

[2018-12-16 03:58] disks86 commented on #65
Hmm not much to go on. Unfortunately I don't own the game to try it on my machine.

[2018-12-16 04:12] XJDHDR commented on #58
Just want to clarify that I'm not rushing you to get this game supported. You can take as long as you want.
If you do decide to pick up this game, I would personally recommend rather buying it through GOG ( https://www.gog.com/game/elder_scrolls_iv_oblivion_game_of_the_year_edition_deluxe_the ). The game is the same price there as on Steam and you don't have to deal with Steam's DRM potentially ca

[2018-12-16 08:31] AccountOneOff commented on #64
With 0.29

[VK9.log](https://github.com/disks86/VK9/files/2683382/VK9.log)

[2018-12-16 08:45] AccountOneOff opened #80 "Deus Ex GMDX regression"
No longer launchable with 0.29. Opens to a black screen now.

[0.29 VK9.log](https://github.com/disks86/VK9/files/2683387/VK9.log)

[0.28.1 VK9.log](https://github.com/disks86/VK9/files/2683388/VK9.log)

[2018-12-16 08:55] AccountOneOff opened #81 "The Witcher: Enhanced Edition"
I do have Rise of the White Wolf mod installed. Don't know if that'd effect it or not.

[0.29 VK9.log](https://github.com/disks86/VK9/files/2683392/VK9.log)

[2018-12-16 22:09] ZachBacon commented on #68
[VK9.log](https://github.com/disks86/VK9/files/2684008/VK9.log)
updated vk9 log file for the latest milestone

[2018-12-16 22:14] ZachBacon commented on #70
[VK9.log](https://github.com/disks86/VK9/files/2684010/VK9.log)
log from the latest milestone

[2018-12-17 01:33] kytulendu commented on #60
The game crash when enter the game/character selection with version 0.29.0

[0.29.0 VK9.log](https://github.com/disks86/VK9/files/2684169/VK9.log)
[Wine-staging 4.0-rc1+esync wine.log](https://github.com/disks86/VK9/files/2684171/wine.log)

[2018-12-17 01:56] disks86 commented on #80
The log says device was lost. Would you mind turning validation layers on in the configuration file and posting a log with them on.

[2018-12-17 02:00] disks86 commented on #81
Seems like it's doing something the shader converter doesn't know how to handle. I'll look at it when I get a chance.

[2018-12-17 02:36] kytulendu opened #82 "Unigine Valley Benchmark 1.0 fail to start up"
Unigine Valley Benchmark 1.0 crash when the graphic benchmark start (after press RUN button).

The program was working with wined3d and gallium nine.

Can download from https://benchmark.unigine.com/valley

Copy the VK9's d3d9.dll to bin directory of program's installation, then run the program using this shell script:

    cd bin
    wine browser_x86.exe -config ../data/launcher/launcher.xml

Set

[2018-12-17 08:35] AccountOneOff commented on #80
Won't let me.

[code]

[2018-12-17 11:41] disks86 commented on #80
Do you have the vulkan sdk installed?

[2018-12-17 21:44] AccountOneOff opened #83 "Medal of Honor: Pacific Assault"
[VK9.log](https://github.com/disks86/VK9/files/2687916/VK9.log)

[2018-12-17 21:45] AccountOneOff opened #84 "Rayman Origins"
Opens to a black screen.

[VK9.log](https://github.com/disks86/VK9/files/2687918/VK9.log)

[2018-12-17 21:52] AccountOneOff commented on #80
Made no difference.

[2018-12-26 12:50] kassindornelles opened #85 "League of Legends crash"
[VK9.log](https://github.com/disks86/VK9/files/2710251/VK9.log)

[2018-12-26 23:45] disks86 commented on #68
The shaders validate now but the game still crashes. No errors in the log though.

[2018-12-27 13:04] ZachBacon commented on #68
Getting close!

[2018-12-27 21:17] disks86 commented on #80
I think in the prefix. I believe they switched the vulkan implementation on wine to exposing an ICD instead of passing the whole vulkan stack through to the native one. I got my hands on a copy of Deus Ex GMDX during the winter sale so I'm going to try this on my end under Windows to see if I have the same issue or not.

[2018-12-28 23:10] Niroc opened #86 "Final Fantasy 7 (Steam Re-release)"
VK9 0.29.0 log file for game...

[VK9.log](https://github.com/disks86/VK9/files/2715835/VK9.log)

My system info: https://gist.github.com/Niroc/ab1f133f7e79e9e0d7932670b5f6cdc5

[2018-12-29 17:56] Niroc commented on #86
Awesome! This would be a great old game to get running on VK9 if possible.

[2018-12-31 01:38] SpectralMemories commented on #85
Same here. Tho I don't think VK9 is at this level yet. Can't wait for that tho

[2018-12-31 16:06] ZachBacon commented on #70
I don't know if this is of any help, but here's an api trace for borderlands. https://vault.dediserve.com/s/nYyRr3MHHBRBmSj

[2018-12-31 16:16] disks86 commented on #70
Yes that is helpful. What did you use to generate the trace?

[2018-12-31 16:21] disks86 commented on #67
I added ex support however this game crashes with no errors in the log. The exception appears to be an access violation but there is no clear indication of what is causing it because the exception occurs in the game rather than in the dll. My plan is too comb though anywhere I map memory and see if there are any spots that could end up like the 1x1 texture issue.

[2018-12-31 17:38] ZachBacon commented on #70
I used http://apitrace.github.io does traces of most graphics api like opengl, d3d etc. I tried generating one for spelunky but spelunky didn't quite like it.

[2019-01-01 07:50] corossig opened #87 "Typo in recent commit"
Hi,
I think you made a typo in a recent commit :
[https://github.com/disks86/VK9/commit/720e38c9571d5555526ea7588577f4adfc55da77#diff-c0c198386faba4935db88c3e3644f213R391](https://github.com/disks86/VK9/commit/720e38c9571d5555526ea7588577f4adfc55da77#diff-c0c198386faba4935db88c3e3644f213R391)

You are using '-' instead of '=', too bad that your compiler doesn't detect this...

[2019-01-01 20:15] disks86 commented on #58
I ended up picking up the game. I haven't tested it yet though.

[2019-01-01 23:02] disks86 commented on #80
I currently get a black screen but it doesn't crash. Based on the log it looks like this is a SM3 game. Not sure how it at all worked before. I'll keep tinkering with it to see if I can figure out what the issue is.

[2019-01-03 23:56] pchome commented on #38
Maybe you can use https://github.com/emilk/loguru

https://emilk.github.io/loguru/index.html#logging/loggingwithstreams

[2019-01-05 12:55] wodim opened #88 "VK_ERROR_INITIALIZATION_FAILED in all games"
I'm trying to run it on Windows and all games show a similar log:

    []: RealInstance::RealInstance unable to find renderdoc.dll !
    []: RealSwapChain::InitSwapChain vkCreateSwapchainKHR failed wi[]: RealSwapChain::InitSwapChain vkCreateSwapchainKHR failed with return code of VK_ERROR_INITIALIZATION_FAILED

[2019-01-05 19:18] disks86 commented on #88
That doesn't happen on my test hardware. Can you tell me the following?

- Version of Windows
- Graphics card model
- Monitor configuration
- Vulkan runtime version

[2019-01-05 19:38] wodim commented on #88
* Windows 10 rev 1809
* R9 290
* One monitor, 1920x1200
* Not sure what it could be, the AMD control panel says: Vulkan™ Driver Version: 2.0.64; Vulkan™ API Version: 1.1.86

[2019-01-05 19:43] wodim commented on #88
I am sorry, my bad. It's because I was running RivaTuner. After quitting it I no longer get that error.

[2019-01-05 19:43] #88 closed

[2019-01-06 07:55] stalkerg commented on #38
Still, in Meson build system https://github.com/disks86/VK9/blob/master/meson.build

I suppose project should use only one build system. (.sln or ninja should produce from Meson only)

[2019-01-07 02:36] 0x00fl0w commented on #23
For linux users using the nvidia propiarity driver can apply this to display osd:

__GL_SHOW_GRAPHICS_OSD=1 wine game.exe
![2019-01-07_03-34](https://user-images.githubusercontent.com/46263207/50746003-4f9c9180-122d-11e9-98be-832063d75325.png)
![2019-01-07_03-34_1](https://user-images.githubusercontent.com/46263207/50746005-4f9c9180-122d-11e9-89e5-54e4928f13ec.png)

[2019-01-07 10:13] Deshke commented on #60
crash on window open with 0.29 vk9 x64
[VK9.log](https://github.com/disks86/VK9/files/2732300/VK9.log)

[2019-01-11 02:55] madebr opened #89 "Compilation failure on Windows (using meson)"
Hey!

While building VK9 on Windows using meson, with the msvc compiler, the following error appears:
[code]
Also, the following warnings are present:
[code]

There may be more warnings/errors as this one blocks the compilation.

[2019-01-11 17:22] disks86 commented on #89
If you are on windows I would recommend using visual studio. The meson support was contributed but hasn't been updated in a while. I don't use it personally.

[2019-01-11 19:33] madebr commented on #89
I believe I know what is going wrong:
meson and ninja aren't passing the c++ arguments during the compilation of the precompiled header:
[code]
This line should also contain defines such as `VULKAN_HPP_NO_EXCEPTIONS`, `DVULKAN_HPP_NO_SMART_HANDLE`, and others.

[2019-01-20 11:45] Riesi opened #95 "Nicewrench"
This is a free game prototype that can be downloaded here:
http://number-none.com/blow/prototypes/#nicewrench

### Log:
[VK9.log](https://github.com/disks86/VK9/files/2776534/VK9.log)

### Issues
### 1.
Stars are only rendered as multiple colored rectangles and the barriers don't have a alpha transition as seen in the following pictures:

VK9
![nicewrench_vk9_ingame](https://user-images.githubuser

[2019-01-26 01:40] Growlith1223 opened #97 "Cube World - Crash at start"
Almost gets to main menu, then crashes
[VK9.log](https://github.com/disks86/VK9/files/2798452/VK9.log)

[2019-01-26 07:06] UncutFighter opened #98 "Halo 2 PC: crashes almost instantly after start"
Was linked this git from an Nvidia forum reply on a post asking about two small issues within H2PC hoping to get them fixed in a driver update. I was going to use it to see if it would affect them at all. Halo 2 PC seems to play the loading audio but then almost instantly freezes and crashes. Game can be downloaded with Project Cartographer here: http://cartographer.online/ with full game installe

[2019-01-26 15:45] guglovich commented on #37
Fixed the game and started with vk9. There are no problems, you can close.

[2019-01-26 15:58] #37 closed

[2019-01-26 17:42] Espionage724 opened #99 "World of Warcraft (1.12) Black screen"
This is from the actual classic version of WoW back in 2006 or so; 32-bit DX9.

- Fedora Workstation 29
- AMD Radeon RX 580 (Mesa 18.2.8, Kernel 4.2.0)
- Wine 4.0 (Staging)
- vulkaninfo: https://pastebin.com/Y5vhWKev

VK9.log:

[code]

[2019-01-26 18:54] Kerrung opened #100 "Wine Developers Are Exploring A Vulkan Backend To WineD3D9,10,11. What will happen next with the VK9 project when they implement their own?"
https://www.phoronix.com/scan.php?page=news_item&px=WineD3D-Vulkan-Details

https://www.phoronix.com/scan.php?page=news_item&px=WineD3D-Vulkan-Exploring

[2019-01-26 19:20] Leopard1907 commented on #100
It will be all ogre

[2019-01-26 19:30] BieHDC commented on #100
or an arena fight and the best ones implementation gets forced onto all

[2019-01-26 19:31] varris1 commented on #100
What does VK9 have to do with Wine or LInux? The developer of VK9 is a Windows user and this project wouldn't even build via mingw until a few days ago.

[2019-01-26 19:43] Kerrung commented on #100
@varris1  but in any case, binary releases are always available to users of all operating systems.

[2019-01-26 22:16] disks86 commented on #100
Well if it's no longer needed probably close the project. Seems like a shame after almost 3 years but if they put a small team of full time people in this I can't really compete.

[2019-01-26 23:39] disks86 commented on #100
Well as pointed out in a previous comment my whole development setup is windows based so I doubt they will integrate anything I have. It's more likely that at most they would look at what I did for reference and rewrite it in their build environment with their coding standards. Regardless I'd be happy to share any information I have with them even if it is a competing project.

[2019-01-31 14:47] worm-on-a-string opened #101 "help me"

[2019-02-08 17:11] madebr commented on #89
mesonbuild/meson#4900

[2019-02-09 06:06] AccountOneOff commented on #83
Gets further with master. Launches, plays EA intro, gets to first load screen before main menu and crashes.

[VK9.log](https://github.com/disks86/VK9/files/2847574/VK9.log)

[2019-02-09 06:09] AccountOneOff commented on #65
Trace: https://drive.google.com/open?id=1TCFMEuQCp-1i7mVt3FqTXSQ9JKw0ifjm

[2019-02-17 21:07] logan001 commented on #100
is that why he stop the work on vk9?
its nice that wine tries to do the same thing as vk9/dxvk. i just hope that they don't give up on it.

[2019-03-02 02:39] jccultima123 opened #102 "Split/Second"
I know that this game might not familiar with, but it's running well on Windows, despite that i only have a discrete graphics from Intel.

At launch, my screen resolution got changed then going black and I got a error message from wine

[VK9.log](https://github.com/disks86/VK9/files/2921669/VK9.log)

[2019-03-04 04:55] incker commented on #100
Hello.
1. I think you have to write a blog post about this. It is really important I think.
2. Looks like they do translation dx9 -> dx11 -> vulkan. If I understood right about D9VK. What looks like performance cheating.

Any way - you are a big guy! You have done this project. And you could boot a game.

[2019-03-04 08:27] Joshua-Ashton commented on #100
My efforts for [d9vk](https://github.com/Joshua-Ashton/dxup), are entirely separate from the efforts of the wine devs' vk wined3d backend -- and this is dx9->vk directly.

``Looks like they do translation dx9 -> dx11 -> vulkan.``
I think you are getting confused with my *other* project, [dxup](https://github.com/Joshua-Ashton/dxup). This **can** be coupled with [dxvk](https://github.com/doitsujin/

[2019-03-30 00:05] BenLubar opened #103 "Guild Wars 2 crashes at startup (Windows)"
The launcher loads fine and then the game crashes before showing any frames and appears to only be covering a portion of my screen.

VK9 log:

[code]

Guild Wars 2 crash log:

[code]

[2019-04-03 19:39] SkacikPL opened #104 "[Crash on boot]Vampire: The Masquerade - Bloodlines"
VTMB closes on boot with last errors being about not implemented features so i assume it's probably self explanatory:

[]: CDevice9::ShowCursor is not implemented!
[]: CIndexBuffer9::GetDesc is not implemented!
[]: CCubeTexture9::GetCubeMapSurface is not implemented!

Might affect other early source engine games

[VK9.log](https://github.com/disks86/VK9/files/3040434/VK9.log)

[2019-04-14 19:43] masaykh commented on #71
With version from Appveyour from 07/04/2019
error in vk9.log changed to:

CDevice9::TestCooperativeLevel is not implemented!
CDevice9::GetAvailableTextureMem is not implemented!

[2019-04-18 00:30] nicklemarr opened #105 "Pillars of Eternity (1.3.8.1318)"
Unity

`[]: C9::GetAdapterCount is not implemented!
[]: C9::CheckDeviceType is not implemented!
[]: RealInstance::RealInstance unable to find renderdoc.dll !
[]: C9::CheckDeviceType is not implemented!
[]: C9::CheckDeviceFormat (D3D_OK) AdapterFormat: 22 CheckFormat: 75
[]: C9::CheckDepthStencilMatch (D3D_OK) AdapterFormat: 22 CheckFormat: 75
[]: C9::CheckDeviceFormat (D3D_OK) AdapterFormat: 22 Ch

[2019-04-18 07:19] ZachBacon commented on #105
Should probably upload the log instead of just pasting in here.

[2019-06-18 13:19] #78 closed

[2019-12-10 11:22] AkagiShiroe opened #107 "Atlantica Online"
Enabling Bloom or Shadow might cause crash to desktop (instant close).
Also crowded field that have lot of player might also crash client.
Conclusion : Slightly playable if distance lowered and disabling bloom and Shadow.
Game use DirectX9EX. My GPU was 750Ti.

[2020-09-02 22:31] EmmanuelMess commented on #81
Related to the game: [VK9.log](https://github.com/disks86/VK9/files/5165124/VK9.log).

[2020-09-02 23:06] qwertychouskie commented on #81
@EmmanuelMess This project hasn't been updated in over a year, you're probably better off with recent DXVK versions (which support DX9).

[2020-09-03 03:06] EmmanuelMess commented on #81
Recent DXVK? What do you mean?